<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Mail Dispatcher</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;           
        }

        ::selection {
            background-color: #c3e9f9;
        }

        body {
            display: grid;
            place-items: center;
            width: 100%;
            height: 100vh;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .main {
            width: 85%;
            height: fit-content;
            min-height: 650px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0px;
        }

        .head {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            grid-column: 1/4;
            padding: 20px;
            background-color: rgb(245, 67, 67);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        h1 {
            margin: 0;
            font-size: 44px;
        }

        .Input {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 20px;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
            display: block;
        }

        .send {
            margin-top: 13px;
            width: 50%;
            height: 40px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 15px;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: white;
            cursor: pointer;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .Output {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 20px;

        }

        .Output label {
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
        }

        .Output div,
        .Input div {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .Output .specific-div {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 510px;
            overflow: auto;
        }

        .Input div {
            margin-bottom: 20px;
        }

        #enteredWordOutput {
            background-color: #f0f8ff;
            font-size: 17px;
        }

        #categoryOutput {
            background-color: #f0e68c;
        }

        .info {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 45%;
        }

        .info label {
            font-weight: bold;
            margin-bottom: 10px;
            color: #555;
            display: block;
        }

        .info div {
            font-size: 20px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f0f8ff;
            color: #333;
        }

        .sendmail {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        textarea {
            width: 100%;
            height: 80%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 18px;
            resize: vertical;
            /* Allow vertical resizing */
        }

        @media (max-width: 768px) {
            .main {
                grid-template-columns: 1fr;
                height: 100%;
                width: 100%;
                border-radius: 0;
            }

            .head {
                grid-column: 1/2;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .Input {
                grid-column: 1/2;
            }

            .Output {
                grid-column: 1/2;
            }

            label {
                font-size: 20px;
            }

            input[type="submit"] {
                font-size: 20px;
            }

            #enteredWordOutput {
                font-size: 20px;
            }

            * {
                font-size: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="head">
            <h1>Mass Mail Dispatcher</h1>
        </div>

        <div class="Input">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div>
                    <label for="wordInput">Select a CSV file containing email addresses:</label>
                    <input type="file" name="file" id="enteredWordOutput" accept=".csv" required>
                    <br>
                </div>
                <input type="submit" value="Upload">
            </form>
            <form action="/reset" method="post">
                <input type="submit" value="Reset">
            </form>

            <div class="info">
                <label for="">Note</label>
                <textarea id="csvTextarea" rows="4" placeholder="Paste or type your email containt here"></textarea>
            </div>
        </div>
        <div class="Output">
            <div class="specific-div">
                <form id="sendEmailForm" action="/sendemails" method="post">
                    <div class="sendmail">
                        <h3>Valid Emails</h3>
                        <input type="submit" class="send" value="Send Email">
                    </div>
                    <br>
                    {{#each validEmails}}
                    <input type="hidden" name="validEmails[]" value="{{this}}">
                    <div id="categoryOutput">
                        {{this}}
                    </div>
                    <br>
                    {{/each}}
                </form>
            </div>
        </div>
        <div class="Output">
            <div class="specific-div">
                <label for="category" style="margin-bottom: 10px;">Invalid Emails</label>
                {{#each invalidEmails}}
                <div id="categoryOutput">
                    {{this}}
                </div>
                <br>
                {{/each}}
            </div>
        </div>
    </div>
    {{#if success}}
    <script>
        alert("{{success}}");
    </script>
    {{/if}}
    {{#if err}}
    <script>
        alert("{{err}}");
    </script>
    {{/if}}

    <script>
        document.getElementById('sendEmailForm').addEventListener('submit', function () {
            // Get the textarea data
            var textareaData = document.getElementById('csvTextarea').value;

            // Create a new hidden input element
            var hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'textareaData';
            hiddenInput.value = textareaData;

            // Append the hidden input to the form
            this.appendChild(hiddenInput);
        });
    </script>

</body>

</html>